.text {
	font-family: 
}

.subhead {
	font-family: ;
	font-size: ;
	font-stretch: 50%;
}

.feat1 {
	font-family: ;
	font-weight: ;
}

.button {
	font-family: ;
	font-style: ;
}

.list {
	font-family: ;
	font-size: ;

}